<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin/admin_layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content" th:remove="tag">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách các loại sản phẩm</strong>
                    </div>
                    <div class="card-body">
                        <table id="categoryTable" class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên loại</th>
                                <th>Hình ảnh</th>
                                <th>
                                    <a href="javascript:void(0)" th:onclick="createCategory()"><i
                                            class="fa fa-plus text-primary">Add</i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category:${categories}">
                                <td th:text="${category.getId()}"></td>
                                <td th:text="${category.getName()}"></td>
                                <td><img th:src="@{${category.getImage().getUrl()}}" class="image-item"></td>
                                <td>
                                    <a href="javascript:void(0)" class="fa fa-edit text-success"
                                       th:onclick="'editCategory('+${category.getId()}+')'"></a>
                                    <a href="javascript:void(0)" class="fa fa-trash text-danger"
                                       th:onclick="'deleteCategory('+${category.getId()}+')'"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--            Delete Product Modal-->
    <div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-labelledby="deleteCategory"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="deleteError">Bạn muốn xóa danh mục sản phẩm phải không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteProductBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!--            Detail Modal-->
    <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Thông tin danh mục</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <img id="image_view" class="card-img-top" th:src="@{images/placeholder.png}"
                             alt="Card image cap">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên danh mục">
                                <label id="name_errors" class="error"></label>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="imageinput">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="image"
                                               aria-describedby="imageinput">
                                        <label class="custom-file-label" for="image">Choose image</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" id="id">
                                <input type="hidden" id="status">
                                <input type="hidden" id="nameOld">
                                <input type="hidden" id="imageId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Save
                    </button>
                    <button type="button"  id="btnClose" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!--Custom JS-->
<th:block layout:fragment="custom" th:remove="tag">
    <script type="text/javascript" th:src="@{/assets/js/admin/category.js}"></script>
</th:block>

</body>
</html>
