<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin/admin_layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content" th:remove="tag">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách các nhà cung cấp sản phẩm</strong>
                    </div>
                    <div class="card-body">
                        <table id="provideTable" class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Nhà cung cấp</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Email</th>
                                <th>
                                    <a href="javascript:void(0)" th:onclick="createProvide()"><i
                                            class="fa fa-plus text-primary">Add</i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="provide:${provides}">
                                <td><img th:src="@{${provide.getImage().getUrl()}}" class="image-item"></td>
                                <td th:text="${provide.getName()}"></td>
                                <td th:text="${provide.getPhone()}"></td>
                                <td th:text="${provide.getAddress()}"></td>
                                <td th:text="${provide.getEmail()}"></td>
                                <td>
                                    <a href="javascript:void(0)" class="fa fa-edit text-success"
                                       th:onclick="'editProvide('+${provide.getId()}+')'"></a>
                                    <a href="javascript:void(0)" class="fa fa-trash text-danger"
                                       th:onclick="'deleteProvide('+${provide.getId()}+')'"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--            Delete provide Modal-->
    <div class="modal fade" id="deleteProvide" tabindex="-1" role="dialog" aria-labelledby="deleteProvide"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="deleteError">Bạn muốn xóa nhà cung cấp này không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteProvideBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!--            Detail Modal-->
    <div class="modal fade" id="provideModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Thông tin nhà cung cấp</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header text-center">
                            <img id="image_view" class="modal-image" src=""
                                 alt="Category card">
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="imageinput">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="image"
                                               aria-describedby="imageinput">
                                        <label class="custom-file-label" for="image">Choose image</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên nhà cung cấp">
                                <label id="name_errors" class="error"></label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <label id="email_errors" class="error"></label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" placeholder="Số điện thoại">
                                <label id="phone_errors" class="error"></label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="address" placeholder="Địa chỉ">
                                <label id="address_errors" class="error"></label>
                            </div>
                            <div>
                                <input type="hidden" id="id">
                                <input type="hidden" id="status">
                                <input type="hidden" id="nameOld">
                                <input type="hidden" id="imageId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Save
                    </button>
                    <button type="button" id="btnClose" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom" th:remove="tag">
    <script type="text/javascript" th:src="@{/assets/js/admin/provide.js}"></script>
</th:block>
</body>
</html>
